@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.debug{
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
}

img{
  /* Ignore click and touch events */
  pointer-events: none;

  /* No hightlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.stat-icon{
  width: 48px;
  height: 48px;
}

.row{
  max-height: 200px;
  display: flex;
}
.tile {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  max-width: 200px; /* Adjust the width as needed */
  max-height: 200px; /* Adjust the height as needed */
  margin: 0;
  padding: 0;
  border: 1px solid #000; /* Optional: Add borders for visualization */
  display: inline-block;
  position: relative;

  /* Ignore click and touch events */
  pointer-events: none;

  /* No hightlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.tile img {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  max-width: 200px; /* Adjust the width as needed */
  max-height: 200px; /* Adjust the height as needed */
  display: block;
  border: 2px white solid;
  border-style: inset;
}

.floor-select{
  position: absolute;
  top: 0px;
  right: 0px;
}

.floor-select label{
  color: white;
}

.floor-select select{
  color: black;
}

.movement-buttons{
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 5px;
  padding-top:2rem;
  padding-bottom:2rem;
  background-color: #2d3748;
  height: 138px;
  max-height: 138px;
}

.btn{
  padding: 1.25rem;
  border-radius: 0.25rem;
  background-color: #4a5568;
  color: white;
  border: 1px solid #4a5568;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  margin: 0.25rem;
}

.btn:hover{
  background-color: #2d3748;
  border: 1px solid #2d3748;
}

.modal-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
}

.modal{
  padding:1rem;
  padding-left:2.25rem;
  padding-right:2.25rem;
  position:absolute;
  top: -400px;
  animation: slideUp .6s;
}

.modal.active{
  top: 40%;
  animation: slideDown .6s;
}

.modal-content svg{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes slideUp {
  0%   {top: 40%;}
  20%  {top: 50%;}
  100% {top: -400px;}
}

@keyframes slideDown {
  0%   {top: -400px;}
  70%  {top: 50%;}
  90%  {top: 40%;}
  100% {top: 40%;}
}